$dark_color_primary: #0c0c0c;

.menu {
  display: none;
}
body {
  scroll-behavior: smooth;
}

@media screen and (max-width: 1050px) {
  .svg_home,
  .svg_col {
    display: none;
  }

  #Navbar {
    .logo {
      height: 40px;
    }

    .navbar-nav a {
      font-size: 16px !important;
      margin: 0 10px !important;
    }
  }

  #Home {
    .col_box {
      display: block;
      margin: auto;
      .box_home {
        top: 0;
        position: relative;
        padding: 60px;
        width: 100%;
      }
    }
  }
  .line_home {
    .rectangle_client {
      position: absolute;
      right: 40rem !important;
      top: -15.6rem !important;
    }

    .rectangle_client,
    .rectangle_project {
      h2 {
        font-size: 50px !important;
      }
      span {
        font-size: 30px !important;
        margin-top: -10px !important;
      }
    }
  }

  #garden {
    .garden_pest_svg img {
      width: 450px;
    }
  }

  #weedControl {
    .bug_icon img {
      width: 150px;
      right: 100px;
      position: absolute;
    }

    .control_icon img {
      width: 100%;
    }
  }

  #OurTeam {
    .FindUs {
      h2 {
        font-size: 40px;
      }
      img {
        width: 450px;
      }
      .call {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mobile_links {
    position: absolute;
    top: 0;
    a {
      display: block;
    }
    background-color: red;
  }

  #Navbar {
    .navbar-nav {
      display: none;
    }
    .menu_clas {
      display: flex;

      .menu {
        border: none;
        background-color: $dark_color_primary;
        display: block;
        padding: 15px;
        margin: 0 0 0 35px !important ;
        svg {
          width: 30px;
          height: 30px;
          margin: auto;
          display: block;
        }
      }
    }
  }

  .line_home {
    .rectangle_client {
      bottom: -17px;
      left: 25rem !important;
    }
  }

  #garden {
    .garden_pest_svg img {
      width: 100%;
    }
  }
  #OurTeam {
    .FindUs {
      padding: 15px;
      h2 {
        font-size: 30px;
      }
      img {
        width: 400px;
      }
    }
  }

  #footer {
    .row {
      h5 {
        font-size: 20px;
      }
      .logo_footer {
        width: 150px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #Navbar {
    .logo {
      height: 60px !important;
      padding: 0 0 0 10px;
    }

    .menu_clas {
      .btn_main {
        display: none;
      }
    }
  }

  #Home {
    .box_home {
      padding: 30px !important;
      h1 {
        font-size: 50px !important;
        margin: 0 0 30px 0 !important;
      }
    }
  }

  .line_home {
    .rectangle_project,
    .rectangle_client {
      width: 180px !important;
      img {
        width: 70px !important;
        left: 50px !important;
      }

      h2 {
        font-size: 35px !important;
        left: 40px !important;
      }
      span {
        font-size: 25px !important;
        left: 40px !important;
      }
    }
    .rectangle_project {
      span {
        top: 200px !important;
      }
    }

    .rectangle_client {
      span {
        top: 150px !important;
      }
    }

    .rectangle_client {
      left: 14rem !important;
      bottom: 65px !important;
    }
  }

  #Pest_Library {
    margin: 200px 0 150px 0 !important;

    h1 {
      font-size: 40px !important;
      word-spacing: 5px;
      text-align: justify;
    }
    h3 {
      font-size: 20px !important;
    }
  }

  #garden {
    margin-bottom: 100px !important;

    .garden_pest_svg {
      display: none;
    }
    .garden_txt {
      padding: 25px !important;

      h2 {
        font-size: 40px !important;
      }

      h2,
      span,
      h3 {
        text-align: justify !important;
      }
      h3 {
        font-size: 20px !important;
      }
    }
  }

  #weedControl {
    margin-bottom: 100px !important;

    .control_txt {
      padding: 0 25px;
      h2 {
        font-size: 40px !important;
      }
      span,
      h2 {
        text-align: justify;
      }
    }
    .bug_icon {
      display: none;
    }
  }

  #makeDifferent {
    h2 {
      font-size: 40px !important;
    }
  }

  #OurTeam {
    .ourteam_txt {
      h1 {
        font-size: 40px !important;
      }
    }
    .services {
      width: 100%;
      display: block;
      .service_card {
        position: relative;
        .image {
          margin: auto;
          display: block;
        }
        h3,
        a {
          text-align: center;
        }
      }
      .service_card::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: $dark_color_primary;
        bottom: 0;
        left: 0;
      }
    }

    .FindUs {
      padding: 40px;
      width: 350px;

      h2 {
        font-size: 30px;
      }
      .box_svg {
        display: none;
      }
    }
  }

  #footer {
    .logo_footer {
      margin: auto;
      display: block;
      width: 250px !important;
    }
    .col {
      margin: 30px 0 0 0 !important;
    }
  }
}

@media screen and (max-width: 380px) {
  .line_home {
    .rectangle_project,
    .rectangle_client {
      border: 5px solid !important;
      width: 160px !important;
      img {
        width: 70px !important;
        left: 40px !important;
      }

      h2 {
        font-size: 30px !important;
        left: 30px !important;
      }
      span {
        font-size: 20px !important;
        left: 25px !important;
      }
    }
    .rectangle_project {
      span {
        top: 200px !important;
      }
    }

    .rectangle_client {
      span {
        top: 150px !important;
      }
    }

    .rectangle_client {
      left: 12rem !important;
      bottom: 65px !important;
    }
  }
}
