body {
  background-color: #f3f2f2;
}

#Navbar {
  box-shadow: 0px 10px 21px -18px rgba(0, 0, 0, 0.75);
  background-color: #f3f2f2;
  height: 100px;
}
#Navbar .navbar-nav a {
  font-size: 18px;
  margin: 0 25px;
  color: #0c0c0c;
}
#Navbar .logo {
  height: 50px;
}
#Navbar .navbar-nav a {
  position: relative;
}
#Navbar .navbar-nav a:after {
  content: " ";
  width: 0;
  position: absolute;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #0c0c0c;
  border-radius: 30px;
  transition: all 0.8s;
}
#Navbar .navbar-nav a:hover::after {
  transition-duration: 1s;
  width: 100%;
}

.btn_main {
  transition-duration: 0.8s;
  font-size: 18px;
  background-color: #0c0c0c;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
}

.btn_main:hover {
  animation-duration: 1ms;
  background-color: #f3f2f2;
  color: #0c0c0c;
  box-shadow: inset 0px 0px 34px -17px rgba(0, 0, 0, 0.57);
}

#Home .box_home {
  position: absolute;
  top: 220px;
  width: 650px;
}
#Home .box_home h1 {
  font-weight: bold;
  font-size: 65px;
  text-align: justify;
}
#Home .box_home span {
  margin-top: 40px;
  font-size: 25px;
}
#Home .svg_home {
  width: 700px;
}
#Home .btn_main {
  margin: 20px 0;
}

.line_home {
  width: 100%;
  height: 250px;
  color: white;
  background-color: #0c0c0c;
}
.line_home .rectangle_project,
.line_home .rectangle_client {
  border: 10px solid #f3f2f2;
  width: 300px;
  height: 260px;
  position: relative;
}
.line_home .rectangle_project span,
.line_home .rectangle_project h2,
.line_home .rectangle_client span,
.line_home .rectangle_client h2 {
  left: 45px;
  position: absolute;
}
.line_home .rectangle_project h2,
.line_home .rectangle_client h2 {
  font-size: 65px;
  font-weight: 900;
}
.line_home .rectangle_project span,
.line_home .rectangle_client span {
  font-size: 35px;
}
.line_home .rectangle_client {
  left: 20rem;
  top: -15.7rem;
}
.line_home .rectangle_client span {
  top: 180px;
}
.line_home .rectangle_client h2 {
  left: 70px;
  top: 100px;
}
.line_home .rectangle_client img {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 6rem;
  top: -1rem;
}
.line_home .rectangle_project {
  margin-top: -10px;
}
.line_home .rectangle_project span {
  top: 230px;
}
.line_home .rectangle_project h2 {
  top: 150px;
  left: 55px;
}
.line_home .rectangle_project img {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 6rem;
  top: 2rem;
}
.line_home .rectangle_project::before,
.line_home .rectangle_client::before {
  content: " ";
  width: 100%;
  height: 290px;
  left: 0;
  position: absolute;
  background-color: #0c0c0c;
}
.line_home .rectangle_client::before {
  bottom: 0;
}
.line_home .rectangle_project::before {
  top: 0;
}

#Pest_Library {
  margin: 300px 0 150px 0;
}
#Pest_Library h1 {
  font-size: 50px;
  font-weight: bold;
}
#Pest_Library h3 {
  margin-bottom: 30px;
  font-size: 30px;
}

.carousel {
  display: flex;
  flex: none;
  margin-top: 80px;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
}
.carousel .card {
  position: inherit;
  width: 150px;
  height: 150px;
  background-color: #f3f2f2;
  border-radius: 100px;
  margin: auto;
  margin: 25px;
  box-shadow: 0px 0px 34px -11px #636363;
  border: none;
}
.carousel .card .image {
  margin: auto;
  width: 100px;
  height: 100px;
}
.carousel .card .image:hover {
  scale: 1.8;
  transition: all 1s;
}

.info {
  display: block;
  margin: auto;
  width: 100%;
  margin: 0 0 25px 0;
}
.info h5 {
  margin: 25px 0 10px;
  font-size: 20px;
  font-weight: bold;
}
.info span {
  font-size: 15px;
  font-style: italic;
  color: #636363;
}
.info h5::first-letter {
  text-transform: uppercase;
}

#OurTeam {
  margin-top: 100px;
}
#OurTeam .ourteam_txt {
  text-align: center;
}
#OurTeam .ourteam_txt h1 {
  font-weight: bold;
  font-size: 50px;
  margin: 30px 0;
}
#OurTeam .ourteam_txt h3 {
  font-size: 25px;
}

.services {
  display: flex;
  flex: none;
  margin: 100px 0;
}
.services .service_card {
  display: block;
  margin: auto;
  padding: 20px;
}
.services .service_card .image {
  width: 120px;
  height: 120px;
}
.services .service_card h3 {
  font-weight: bold;
  font-size: 30px;
  margin: 40px 0;
}
.services .service_card span {
  word-spacing: 8px;
  font-style: normal;
  font-size: 18px;
}
.services .service_card a {
  font-size: 16px;
  display: block;
  margin: 40px 0;
  color: #0c0c0c;
}
.services .service_card a img {
  margin: 0 10px;
}

.FindUs {
  display: flex;
  margin: auto;
  margin-bottom: -150px;
  padding: 50px;
  width: 1200px;
  height: 350px;
  text-align: start;
  background-color: #f3f2f2;
  box-shadow: 0px 0px 44px -11px rgba(0, 0, 0, 0.4);
}
.FindUs h2 {
  font-size: 50px;
  font-weight: bold;
}
.FindUs span {
  display: block;
  margin: 15px 0;
}
.FindUs .call {
  font-weight: 600;
  margin: 20px 0 40px 0;
}
.FindUs input {
  background-color: #f3f2f2;
  border: none;
  border-bottom: 1px solid #0c0c0c;
  font-style: italic;
  width: 200px;
}
.FindUs img {
  margin: auto;
  width: 550px;
}

#weedControl {
  margin-bottom: 200px;
}
#weedControl .control_txt h2 {
  font-weight: bold;
  font-size: 50px;
}
#weedControl .control_txt span {
  display: block;
  margin: 30px 0;
  font-size: 18px;
}
#weedControl .bug_icon {
  width: 200px;
  margin: auto;
}

.control_icon {
  text-align: center;
}

.different_txt h2 {
  font-weight: bold;
  font-size: 50px;
}
.different_txt span {
  display: block;
  margin: 30px 0;
}
.different_txt a {
  font-size: 20px;
  text-decoration-line: underline !important;
  color: #3a3a3a !important;
  cursor: pointer;
}
.different_txt a img {
  margin: 0 10px;
}

.different_col .col {
  text-align: start;
  display: block;
  color: #f3f2f2;
  margin: 15px;
  padding: 25px;
  background-color: #3a3a3a;
  width: 250px;
  height: 150px;
}
.different_col .col h2 {
  margin-left: 20px;
  font-size: 40px;
  font-weight: bold;
}
.different_col .col span {
  margin-left: 20px;
  font-style: italic;
  font-weight: lighter !important;
}

#garden {
  margin-bottom: 200px;
  text-align: start;
}
#garden .garden_pest_svg {
  margin-top: 50px;
}
#garden .garden_txt {
  margin: auto;
  padding-left: 50px;
}
#garden .garden_txt h3 {
  font-size: 25px;
  text-align: start;
}
#garden .garden_txt h2 {
  text-align: start;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  margin: 30px 0;
}
#garden .garden_txt span {
  text-align: start;
  font-size: 18px;
}
#garden .garden_txt button {
  margin: 30px 0;
}

#footer {
  background-color: #3a3a3a;
  margin: 0;
  width: 100%;
  padding-top: 200px;
  color: #f3f2f2;
}
#footer .logo_footer {
  height: 80px;
}
#footer .col {
  list-style: none;
  margin: auto;
  text-align: start;
}
#footer h5 {
  font-weight: bold;
  font-size: 30px;
}
#footer li {
  margin: 10px 0;
  font-size: 16px;
}
#footer a {
  text-decoration: none;
  color: #f3f2f2;
}
#footer .copyright {
  margin: 40px 0 -30px 0;
}
#footer .oak {
  color: red;
}/*# sourceMappingURL=style.css.map */