*{
    margin: 0;
    padding: 0;

    font-family: 'Archivo', sans-serif;

}

body{
    background-color: var(--secondary-color);
}


:root{
    --primary-color: #0C0C0C;
    --secondary-color: #E6E6E6;
}