@media screen and (max-width: 1050px) {
  .svg_home,
  .svg_col {
    display: none;
  }

  #Home {
    .col_box {
        display: block;
        margin: auto;
        .box_home {
          top: 0;
        position: relative;
            padding: 60px;
    }
    }
  }
}
