#Navbar{
    height: 90px;
}

.logo{
    height: 60px;
}
.contact{
    height: 50px;
    width: 200px;
}


.home{
    position: relative;
}

.home::after{
    content: " ";
    width: 0%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}

.home:hover::after{
    width: 100%;
}