$color_font: #0c0c0c;
#OurTeam {
  margin-top: 100px;
  .ourteam_txt {
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 50px;
      margin: 30px 0;
    }
    h3 {
      font-size: 25px;
    }
  }
}

.services {
  display: flex;
  flex: none;
  margin: 100px 0;

  .service_card {
    display: block;
    margin: auto;
    padding: 20px;
    .image {
      width: 120px;
      height: 120px;
    }
    h3 {
      font-weight: bold;
      font-size: 30px;
      margin: 40px 0;
    }
    span {
      word-spacing: 8px;
      font-style: normal;
      font-size: 18px;
    }
    a {
      font-size: 16px;
      display: block;
      margin: 40px 0;
      color: $color_font;
      img {
        margin: 0 10px;
      }
    }
  }
}

.FindUs {
  display: flex;
  margin: auto;
  margin-bottom: -150px;
  padding: 50px;
  width: 1200px;
  height: 350px;
  text-align: start;
  background-color: #f3f2f2;

  -webkit-box-shadow: 0px 0px 44px -11px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 44px -11px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 44px -11px rgba(0, 0, 0, 0.4);

  h2 {
    font-size: 50px;
    font-weight: bold;
  }
  span {
    display: block;
    margin: 15px 0;
  }

  .call {
    font-weight: 600;
    margin: 20px 0 40px 0;
  }
  input {
    background-color: #f3f2f2;
    border: none;
    border-bottom: 1px solid $color_font;
    font-style: italic;
    width: 200px;
  }

  img {
    margin: auto;
    width: 550px;
  }
}
