#weedControl {
    margin-bottom: 200px;
  .control_txt {
    h2 {
      font-weight: bold;
      font-size: 50px;
    }
    span {
      display: block;
      margin: 30px 0;
      font-size: 18px;
    }
  }

  .bug_icon {
    width: 200px;
    margin: auto;
  }
}
.control_icon{
  text-align: center;
}
